!!! html
%html{ :lang => "en" }
  %head
    %title Loanr
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to "Loanr", root_path, :class => "brand"
          - if user_signed_in?
            .nav-collapse.collapse.pull-right
              %ul.nav
                %li= link_to "Sign Out", destroy_user_session_path, :method => :delete
                %li.divider-vertical
                %li= link_to "#{current_user.username.nil? ? current_user.email : current_user.username}", "#"
          - else
            = render "layouts/login_form"
    .row
      .container
        - flash.each do |key, value|
          %div{:class => "alert alert-#{key}"}
            = value
    .row
      .container
        = yield


